.filter {
    position: absolute;
}


@include breakpoint(xs){
    .filter {
        left: 0px;
        right: 0;
        bottom: 0;
        top: 45px;
    }
}

@include breakpoint(sm){
    .filter {
        top: 45px;
        left: 0px;
        right: 0;
        bottom: 0;
    }
}

@include breakpoint(md){
    .filter {
        height: 100%;
        width: calc(100% - 70px);
        left: 70px;
        top: 0;
    }
}

@include breakpoint(xl){
    .filter {
 
    }
}

@include breakpoint(xxl){
    .filter {
 
    }
}