.home {
    position: absolute;
    z-index: 0;
    bottom: 0;
    #to-come, #in, #out, #leftover {
        .child-card {
            height: 130px;
            .btn {
                height: 100%;
                margin-right: 3px;
                i {
                    width: 55px;
                    min-height: 55px;
                    padding: 12px 0;
                    text-align: center;
                    color: $white;
                    font-size: 2em;
                    &.fa-sign-in{
                        background: $green;
                    }
                    &.fa-sign-out{
                        background: $pink;
                    }
                    &.fa-pencil {
                        background: $darkgray;
                    }
                }
            }
            a {
                text-decoration: none;
                color: $darkgray;
            }
            .child-info {
                width: 100%;
                background: $lightgray;
                .name {
                    color: $darkgray;
                    text-decoration: none;
                    font-size: 0.8em;
                    font-weight: $medium;
                    width: 100%;
                }
                .description {
                    color: $darkgray;
                    text-decoration: none;
                    font-size: 0.6em;
                    font-weight: $thin;
                    margin: 4px 0;
                }
            }
        }
    }

    #container-leftover {
      .title {
            margin: 0 30px;
            border-bottom: 1px solid black;
            padding: 16px 0 3px 0;
            font-size: 16px;
            font-weight: 500;
        }
        background: $lightgray;
        #leftover .child-card .child-info {
            background: white;
        }
    }
    #overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        background: red;
        right: 0;
        left: 0;
        &.hide{
            display: none;
        }
    }
}

@include breakpoint(xs){
    .home {
        top: 80px;
        overflow: visible ;
        width: 100% ;
    }
    #to-come, #in, #out, #leftover {
        padding: 10px ;
        .child-card {
            width: calc(100% - 10px) ;
            margin: 5px 0 ;
            .child-info{
                padding: 5px;
            }
        }
    }
}
@include breakpoint(sm){
    .home {
        top: 80px;
        overflow: visible;
        width: 100% ;
    }
    #to-come, #in, #out, #leftover {
        padding: 5px;
        .child-card {
            width: calc((100% / 2) - 6px);
            margin: 3px;
            .child-info {
                padding: 10px;
            }
        }
    }
}
@include breakpoint(md){
    .home {
        overflow: scroll;
        z-index: 0;
        top: 35px;
        height: calc(100% - 35px);
        width: calc(100vw - 70px);
    }
    #to-come, #in, #out, #leftover {
        padding: 5px;
        .child-card {
            width: calc((100% / 3) - 14px);
            margin: 7px;
        }
    }
}
@include breakpoint(lg){
    #to-come, #in, #out, #leftover {
        padding: 5px;
        .child-card {
            width: calc((100% / 3) - 12px);
            margin: 6px;
        }
    }
}
@include breakpoint(xl){
    #to-come, #in, #out, #leftover {
        padding: 5px;
        .child-card {
            width: calc((100% / 4) - 6px);
            margin: 3px;
        }
    }
}
@include breakpoint(xxl){
    #to-come, #in, #out, #leftover {
        padding: 25px;
        .child-card {
            width: calc((100% / 5) - 10px);
            margin: 5px;
            .btn {
                height: 100%;
                margin-right: 1px;
                i {
                    width: 35px !important;
                    min-height: 35px !important;
                    padding: 10px 0 !important;
                    font-size: 1.3em !important;;
                }
            }
            .child-info {
                padding: 10px;
            }
        }
    }
}