.list {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    .child-item {
        text-decoration: none;
        color: $darkgray;
        font-weight: 500;
        height: 70px;
        background: $lightgray;
    }
    
}

@include breakpoint(xs){
    .list {
        top: 47px;
        width: 100% ;
        .child-item {
            margin: 2px;
            padding: 15px;
            width: calc(100% - 4px);
        }
    }
}
@include breakpoint(sm){
    .list {
        top: 48px;
        width: 100% ;
        .child-item {
            margin: 3px;
            width: calc((100% / 2) - 9px);
        }
    }
}
@include breakpoint(md){
    .list {
        z-index: 0;
        top: 4px;
        left: 70px;
        height: 100%;
        width: calc(100% - 70px);
        .child-item {
            width: calc((100% / 4) - 6px);
            margin: 3px;
            padding: 10px 15px;

        }
    }
}
@include breakpoint(lg){

}
@include breakpoint(xl){
}
@include breakpoint(xxl){
}