.log {
    position: absolute;
    z-index: 0;
    bottom: 0;
    .title {
        font-weight: 100;
        border-bottom: 1px solid $darkgray;
        padding: 30px 0;
        width: 100%;
        background: $white;
        text-align: center;
        margin: 0;
    }
    table {
        background: $white;
        width: 96%;
        padding: 30px;
        margin: 2%;
        thead {
            td{
                height: 55px;
                padding: 0 15px;
                font-weight: 700;
                border-bottom: 2px solid $darkgray;
            }
        }
        tbody {
             tr:nth-of-type(2n){
                td {
                    background: $lightgray;
                }   
            }
            td {
                height: 57px;
                padding: 0 15px;
                border-bottom: 1px solid $darkgray;
            }
        }
    }
    #btn-edit i{
        border: none;
        background: none;
        font-size: 18px; 
        width: 35px;
        height: 35px;
        color: $white;
        background: $green;
        padding: 8px;
    }
    #delete {
        .btn {
            border: none;
            background: none;
            font-size: 18px; 
            width: 35px;
            height: 35px;
            color: $white;
            background: $pink;
            &:hover {
                background: $deeppink;
            }
        }
    }
    #edit{
        input {
            font-size: 15px;
            font-family: Helvetica;
            background: red;
            border: none;
            background: none;
            font-family: $main-font;
        }
        .btn {
            border: none;
            background: none;
            font-size: 18px;
            order: none;
            background: none;
            font-size: 18px;
            width: 35px;
            background: $green;
            color: $white;
            height: 35px;
            padding: 0px;
            &.cancel {
                margin: 0;
                padding: 8px;
                background: $deeppink;
            }
        }
    }
}


@include breakpoint(xs){
    .log{
        top: 45px;
        width: 100%;
    }
}
@include breakpoint(sm){
    .log{
        top: 45px;
        width: 100% ;
    }
}
@include breakpoint(md){
    .log{
        z-index: 0;
        top: 0;
        height: 100%;
        width: calc(100vw - 70px);
        left: 70px;
    }

}
@include breakpoint(lg){

}
@include breakpoint(xl){

}
@include breakpoint(xxl){
  
}