.log {
    position: absolute;
    z-index: 0;
    background: white;
    bottom: 0;
    table {
        background: $lightgray;
        width: 96%;
        padding: 20px;
        margin: 2%;
        thead {
            td{
                height: 55px;
                background: $lightgray;
                padding: 0 15px;
                font-weight: 700;
            }
        }
        tbody {
            td {
                height: 55px;
                background: $lightgray;
                padding: 0 15px;
            }
        }
    }
    #btn-edit i{
        border: none;
        background: none;
        font-size: 18px; 
        width: 35px;
        height: 35px;
        color: $white;
        background: $green;
        padding: 8px;
    }
    #delete {
        .btn {
            border: none;
            background: none;
            font-size: 18px; 
            width: 35px;
            height: 35px;
            color: $white;
            background: $pink;
            &:hover {
                background: $deeppink;
            }
        }
    }
    #edit{
        input {
            font-size: 15px;
            font-family: Helvetica;
            background: red;
            border: none;
            background: none;
            font-family: $main-font;
        }
        .btn {
            border: none;
            background: none;
            font-size: 18px;
            order: none;
            background: none;
            font-size: 18px;
            width: 35px;
            background: $green;
            color: $white;
            height: 35px;
            padding: 0px;
            &.cancel {
                margin: 0;
                padding: 8px;
                background: $deeppink;
            }
        }
    }
}


@include breakpoint(xs){
    .log{
        top: 80px;
        overflow: visible ;
        width: 100%;
    }
}
@include breakpoint(sm){
    .log{
        top: 90px;
        overflow: visible;
        width: 100% ;
    }
}
@include breakpoint(md){
    .log{
        overflow: scroll;
        z-index: 0;
        top: 35px;
        height: calc(100% - 35px);
        width: calc(100vw - 70px);
    }

}
@include breakpoint(lg){

}
@include breakpoint(xl){

}
@include breakpoint(xxl){
  
}