.home {
    #to-come, #in, #out {
        .child-card {
            height: 150px;
            .btn {
                height: 100%;
                i, .padded {
                    text-align: center;
                    color: white;
                    &.fa-sign-in{
                        background: lightseagreen;
                    }
                    &.fa-sign-out{
                        background: rgba(250, 130, 130, 1);
                    }
                    &.fa-pencil {
                        background: rgba(180, 180, 180, 1);
                    }
                }
            }
            .child-info {
                width: 100%;
                .name {
                    font-size: 0.9rem;
                    font-weight: 600;
                    width: 100%;
                }
            }
        }
    }
}

@include breakpoint(xs){
    #to-come, #in, #out {
        background: red;
        padding: 0;
        .child-card {
            border: 1px solid lightgray;
            height: 150px;
            width: calc((100% / 3) - 30px);
            margin: 15px;
            i, .padded {
                width: 70px;
                height: 70px;
                padding: 11px 0;
                font-size: 27px;
            }
        }
    }
}
@include breakpoint(sm){
    #to-come, #in, #out {
        background: orange;
        padding: 0;
        .child-card {
            border: 1px solid lightgray;
            height: 150px;
            width: calc((100% / 2) - 30px);
            margin: 15px;
            .btn {
                i, .padded {
                    width: 70px;
                    height: 70px;
                    padding: 11px 0;
                    font-size: 27px;
                }
            }
            .child-info {
                padding: 10px;
                .name {
                    text-transform: uppercase;
                }
            }
        }
    }
}
@include breakpoint(md){
    #to-come, #in, #out {
        padding: 5px;
        background: whitesmoke;
        .child-card {
            border: 1px solid lightgray;
            height: 150px;
            width: calc((100% / 3) - 14px);
            margin: 7px;
            i, .padded {
                width: 70px;
                height: 70px;
                padding: 11px 0;
                font-size: 27px;
            }
        }
    }
}
@include breakpoint(lg){
    #to-come, #in, #out {
        padding: 0;
        background: green;
        .child-card {
            border: 1px solid lightgray;
            height: 150px;
            width: calc((100% / 4) - 30px);
            margin: 15px;
            i, .padded {
                width: 90px;
                height: 60px;
                padding: 12px 0;
                font-size: 29px;
            }
        }
    }
}
@include breakpoint(xl){
    #to-come, #in, #out {
        padding: 0;
        background: lightcoral;
        .child-card {
            border: 1px solid lightgray;
            height: 150px;
            width: calc((100% / 5) - 30px);
            margin: 15px;
            i, .padded {
                width: 90px;
                height: 60px;
                padding: 12px 0;
                font-size: 29px;
            }
        }
    }
}
@include breakpoint(xxl){
    #to-come, #in, #out {
        padding: 25px;
        background: white;
        .child-card {
            border: 1px solid lightgray;
            height: 130px;
            width: calc((100% / 6) - 10px);
            margin: 5px;
            .btn {
                i, .padded {
                    width: 60px;
                    height: 60px;
                    padding: 12px 0;
                    font-size: 25px;
                }
            }
            .child-info {
                padding: 10px;
                .name {

                }
            }
        }
    }
}