* {
    @include box-sizing;
    font-family: $main-font;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    .header {
        padding: 10px 15px;
        height: 35px;
        font-size: 12px;
        font-family: Roboto;
        display: flex;
        background: $darkgray;
        color: $white;
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation {
        z-index: 1000;
        position: absolute;
        background: $darkgray;
        display: flex;
        align-items: flex-end;
        a {
            color: $white;
            box-sizing: border-box;
            text-decoration: none;
            background: $darkgray;
            width: 70px;
            text-align: center;
            &.active{
                background: $deeppink;
            }
            &:hover{
                background: $pink;
            }
        }
    }      
}
@include breakpoint(xs){
    .header {
        border-bottom: 1px solid $white;
    }
    .navigation {
        right: 0 ;
        left: 0 ;
        top: 35px ;
        flex-direction: row ;
        height: 45px ;
        a {
            border: none ;
            font-size: 20px ;
            border-right: 1px solid $white;
            height: 100%;
            padding: 10px;
        }
    }    
}

@include breakpoint(sm){
    .header {
        border-bottom: 1px solid $white;
    }
    .navigation {
        right: 0 ;
        left: 0 ;
        top: 35px ;
        flex-direction: row ;
        height: 45px ;
        a {
            border: none ;
            font-size: 20px ;
            border-right: 1px solid $white;
            height: 100%;
            padding: 10px;
        }
    }    
}

@include breakpoint(md){
    .navigation {
        right: 0;
        top: 35px;
        flex-direction: column;
        height: calc(100vh - 34px);
        left: auto;
        a {
            border: none ;
            border-bottom: 1px solid $white;
            padding: 20px 22px;
            font-size: 25px;
            height: 70px;
        }
    }    
}

@include breakpoint(xl){
  
}

@include breakpoint(xxl){
  
}