#error {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $darkblue;
    img {
    	width: 40%;
    	margin-bottom: 40px;    
	}
    .message {
    	font-weight: 400;
    	color: white;
    }
}