.home {
    #to-come, #in, #out {
        padding: 25px;
        .child-card {
            border: 1px solid black;
            height: 150px;
            width: calc((100% / 3) - 30px);
            margin: 15px;
            .btn {
                height: 100%;
                i, .padded {
                    width: 90px;
                    height: 60px;
                    text-align: center;
                    padding: 12px 0;
                    font-size: 29px;
                    color: white;
                    &.fa-sign-in{
                        background: lightseagreen;
                    }
                    &.fa-sign-out{
                        background: rgba(250, 130, 130, 1);
                    }
                    &.fa-pencil {
                        background: rgba(180, 180, 180, 1);
                    }
                }
            }
            .child-info {
                padding: 15px 25px;
                width: 100%;
                .name {
                    font-size: 17px;
                    font-weight: 700;
                    border-bottom: 1px solid black;
                    width: 100%;
                }
            }
        }
    }
}

@include breakpoint(xs){
    .home{
        background: red;
    }
}
@include breakpoint(sm){
    .home{
        background: blue;
    }
}
@include breakpoint(md){
    .home{
        background: orange;
    }
}
@include breakpoint(lg){
    .home{
        background: yellow;
    }
}
@include breakpoint(xl){
    .home{
        background: green;
    }
}
@include breakpoint(xxl){
    .home{
        background: lightgray;
    }
}