* {
    @include box-sizing;
    font-family: $main-font;
}
.active {
    background: $deeppink;
}
.admin {
    background: #6B7891;
    &.active {
        background: $deeppink;
    }
}
.padded {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    .header {
        padding: 10px 15px;
        height: 35px;
        font-size: 12px;
        font-family: Roboto;
        display: flex;
        background: $darkgray;
        color: $white;
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation {
        z-index: 1000;
        position: fixed;
        background: $darkgray;
        display: flex;
        align-items: flex-end;
        a {
            color: $white;
            box-sizing: border-box;
            text-decoration: none;
            width: 70px;
            text-align: center;
            &.active{
                background: $deeppink;
            }
            &:hover {
                background: $pink;
            }
        }
    } 
}
@include breakpoint(xs){
    .header {
        border-bottom: 1px solid $white;
    }
    .navigation {
        right: 0 ;
        left: 0 ;
        top: 0 ;
        flex-direction: row ;
        height: 45px ;
        a {
            border: none ;
            font-size: 20px ;
            border-right: 1px solid $white;
            height: 100%;
            padding: 10px;
        }
        .padded {
            border: none;
        }
    }    
}

@include breakpoint(sm){
    .header {
        border-bottom: 1px solid $white;
    }
    .navigation {
        right: 0 ;
        left: 0 ;
        top: 0;
        flex-direction: row ;
        height: 45px ;
        a {
            border: none ;
            font-size: 20px ;
            border-right: 1px solid $white;
            height: 100%;
            padding: 10px;
        }
        .padded {
            border: none;
        }

    }    
}

@include breakpoint(md){
    .navigation {
        left: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        right: auto;
        a {
            border: none;
            border-bottom: 1px solid $white;
            padding: 20px 22px;
            font-size: 25px;
            height: 70px;
        }
        .padded {
            border-bottom: 1px solid white;
        }
    }    
}

@include breakpoint(xl){
  
}

@include breakpoint(xxl){
  
}