#slider {
	height: 150px;
	margin: 35px auto;
	background: none !important;
	border-radius: 0 !important;
	border: none !important;
	box-shadow: none !important;
	.noUi-base {
		width: 4px;
	}
	.noUi-handle {
		width: 27px;
		height: 27px;
		left: -12px;
		top: -17px;
		top: -17px;
		border-radius: 100%;
		box-shadow: none;
		box-shadow: inset 0 0px 4px #EBEBEB;
		outline: none;
		border: 1px solid #CBCBCB;
		&::after, &::before {
			background: none;
		}
		.noUi-tooltip {
			left: 120%;
			right: auto;
			display: block;
			position: absolute;
			border: none;
			background: none;
			color: $darkgray;
			padding: 5px;
			text-align: center;
			white-space: nowrap;
			margin-left: 2px;
			font-size: 15px;
		}
	}
	.noUi-connect {
		background-color: $darkgray;
	}
	
}