// Theme
$pink: #E64E78;
$deeppink: #9A3450;
$green: #44DEA3;
$darkgray: #3B4250;
$lightgray: #F7F7F7;
$white: #FFF;
$yellow: #FFED67;
$lightblue: #6F9DFA;

// FONTS
$main-font: Ubuntu, "Helvetica", "Arial";

$bold: 800;
$medium: 600;
$regular: 400;
$thin: 300;