@mixin box-sizing() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin breakpoint($point){
    @if $point == xs {
        @media screen and (max-width: 37.5em){ @content; }
    }
    @else if $point == sm {
        @media screen and (min-width: 37.5em){ @content; }
    }
    @else if $point == md {
        @media screen and (min-width: 50em){ @content; }
    }
    @else if $point == lg {
        @media screen and (min-width: 64em){ @content; }
    }
    @else if $point == xl {
        @media screen and (min-width: 70em){ @content; }
    }
    @else if $point == xxl {
        @media screen and (min-width: 84em){ @content; }
    }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

@mixin transform($str...) {
  transform: $str;
  -webkit-transform: $str;
  -moz-transform: $str;
  -o-transform: $str;
  -ms-transform: $str;
}
@mixin animation($str...) {
  -webkit-animation: $str;
  -moz-animation: $str;
  -ms-animation: $str;
  -o-animation: $str;
  animation: $str;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin placeholder {
   ::-webkit-input-placeholder { @content;}
   :-moz-placeholder           { @content;}
   ::-moz-placeholder          { @content;}
   :-ms-input-placeholder      { @content;}
}