.login {
    min-height: calc(100vh);
    .intro {
        background-image: url("../images/achtergrond.png");
       // background: #6F9DFA;
    }    
    img {
        margin: 170px calc((100% - 50rem)/2);
        width: 50rem;

    }
    .flex-item:nth-child(1) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .content {
        .form-container {
            margin-top: 20px;
            width: 95%;
        }
        .form {
            width: 100%;
            border: none;
            margin-top: 20px;
             .description{
                background: white;
                padding: 25px;
                border-radius: 7px;
                opacity: 0.9;
                text-align: center;
                a {
                    color: $darkgray;
                    text-decoration: none;
                    font-size: 12px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@include breakpoint(xs){
    .intro {
        display: none;
        
    }
    .content {
        padding: 20px;
        width: 100%;
        margin: 5px;
    }
}

@include breakpoint(sm){
    .intro {
        display: none;
        
    }
    .content {
        width: 100%;
        margin: 0 50px;
    }
}

@include breakpoint(md){
    .intro {
        width: 50%;
        display: block;
       
    }
    .content {
        width: 50%;
    }
}

@include breakpoint(xl){
   .intro {
        width: 60%;
        display: block;
    }
    .content {
        width: 40%;
    }
}

@include breakpoint(xxl){
  
}