.login {
    min-height: calc(100vh);
    .intro {
        background-image: url("../images/achtergrond.png");
    }    
    img {
        margin: 100px calc((100% - 70%)/2);
        width: 70%;
    }
    .flex-item:nth-child(1) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .content {
        .form-container {
            margin-top: 20px;
            width: 95%;
        }
        .form {
            width: 100%;
            border: none;
            margin-top: 20px;
            .form-group {
                margin: 20px 0;
            }
             .description{
                background: white;
                padding: 25px;
                border-radius: 7px;
                opacity: 0.9;
                text-align: center;
                a {
                    color: $darkgray;
                    text-decoration: none;
                    font-size: 12px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@include breakpoint(xs){
    .login { 
        display: flex;
        flex-direction: column;
        .intro {
            height: 100px;
            img {
                height: 80px;
                width: auto;
            }
        }
        .content {
            width: 100%;
            form {
                padding: 0 20px;
                .form-group {
                    margin: 10px 0;
                }
                .description {
                    padding: 5px 25px;
                }
            }
        }
    }
}

@include breakpoint(sm){
    .login { 
        display: flex;
        flex-direction: column;
        .intro {
            height: 100px;
            img {
                height: 80px;
                width: auto;
            }
        }
        .content {
            width: 100%;
            form {
                padding: 0 20px;
                .form-group {
                    margin: 10px 0;
                }
                .description {
                    padding: 5px 25px;
                }
            }
        }
    }
}

@include breakpoint(md){
    .login {
        display: flex;
        flex-direction: row;
        min-height: calc(100vh);
        .intro {
            width: 50%;
            height: 100vh;
            img {
                margin: 100px calc((100% - 70%)/2);
                width: 70%;
                height: auto;
            }
        }
        .content {
            width: 50%;
            height: 100vh;
            form {
                padding: 0 35px;
            }
        }
    }
}

@include breakpoint(xl){
   .intro {
        width: 60%;
        display: block;
    }
    .content {
        width: 40%;
    }
}

@include breakpoint(xxl){
  
}