.log {
    position: absolute;
    z-index: 0;
    bottom: 0;
    .title {
        font-weight: 100;
        border-bottom: 1px solid $darkgray;
        width: 100%;
        background: $white;
        text-align: center;
        margin: 0;
        position: fixed;
    }
    table {
        background: $white;
        thead {
            td{
                height: 55px;
                padding: 0 15px;
                font-weight: 700;
                border-bottom: 2px solid $darkgray;
            }
        }
        tbody {
             tr:nth-of-type(2n){
                td {
                    background: $lightgray;
                }   
            }
            td {
                height: 57px;
                padding: 0 15px;
                border-bottom: 1px solid $darkgray;
            }
        }
    }
    #btn-edit i{
        border: none;
        background: none;
        font-size: 18px; 
        width: 35px;
        height: 35px;
        color: $white;
        background: $green;
        padding: 8px;
    }
    .btn-delete i{
        border: none;
        background: none;
        font-size: 18px; 
        width: 35px;
        height: 35px;
        color: $white;
        background: $pink;
        padding: 8px;
    }
    #edit{
        input {
            font-size: 15px;
            font-family: Helvetica;
            background: red;
            border: none;
            background: none;
            font-family: $main-font;
        }
        .btn {
            border: none;
            background: none;
            font-size: 18px;
            order: none;
            background: none;
            font-size: 18px;
            width: 35px;
            background: $green;
            color: $white;
            height: 35px;
            padding: 0px;
            &.cancel {
                margin: 0;
                padding: 8px;
                background: $deeppink;
            }
        }
    }
}


@include breakpoint(xs){
    .log{
        top: 45px;
        width: 100%;
        .title {
            font-size: 0.9em;
            padding: 10px 0;
        }
        table {
            width: 100%;
            margin: 0;
            margin-top: 38px;
            thead tr td {
                height: auto;
                padding: 3px;
                font-weight: 700;
                font-size: 0.5em;
            } 
            tbody tr td {
                padding: 5px;
                font-size: 0.5em;
                &#btn-edit, .btn-delete
                {
                    padding: 0;
                    i{
                        height: 20px;
                        width: 20px;
                        padding: 4px;
                        font-size: 1.35em;
                    }
                }
                #edit{
                    input {
                        font-size: 1.5em;
                    }
                    .btn {
                        padding: 0;
                        height: 20px;
                        width: 20px;
                        margin: 8px 0;
                        font-size: 1.35em;
                        &.cancel {
                            margin: 0;
                            padding: 5px;
                            background: $deeppink;
                        }
                    }
                }   
            }
        }
    }
}
@include breakpoint(sm){
   .log{
        top: 45px;
        width: 100%;
        .title {
            font-size: 0.9em;
            padding: 10px 0;
        }
        table {
            width: 100%;
            margin: 0;
            margin-top: 38px;
            thead tr td {
                height: auto;
                padding: 3px;
                font-weight: 700;
                font-size: 0.7em;
            } 
            tbody tr td {
                padding: 5px;
                font-size: 0.7em;
                &#btn-edit, .btn-delete
                {
                    padding: 0;
                    i{
                        height: 25px;
                        width: 25px;
                        padding: 4px;
                        font-size: 1.5em;
                    }
                }
                #edit{
                    input {
                        font-size: 1.5em;
                    }
                    .btn {
                        padding: 0;
                        height: 25px;
                        width: 25px;
                        margin: 8px 0;
                        font-size: 1.35em;
                        &.cancel {
                            margin: 0;
                            padding: 5px;
                            background: $deeppink;
                        }
                    }
                }   
            }
        }
    }
}
@include breakpoint(md){
    .log{
        z-index: 0;
        top: 0;
        height: 100%;
        width: calc(100% - 70px);
        left: 70px;
         table {
            width: 98%;
            margin: 1%;
            margin-top: 75px;
             #btn-edit i{
        border: none;
        background: none;
        font-size: 18px; 
        width: 35px;
        height: 35px;
        color: $white;
        background: $green;
        padding: 8px;
    }
    .btn-delete i{
        border: none;
        background: none;
        font-size: 18px; 
        width: 35px;
        height: 35px;
        color: $white;
        background: $pink;
        padding: 8px;
    }
        }
    }
}
@include breakpoint(lg){
     .log{
        z-index: 0;
        top: 0;
        height: 100%;
        width: calc(100% - 70px);
        left: 70px;
        .title {
            font-size: 1.5em;
            padding: 20px 0;
        }
        table {
            width: 98%;
            margin: 1%;
            margin-top: 75px;
        }
    }
}
@include breakpoint(xl){

}
@include breakpoint(xxl){
  
}