.register {
	background: $lightgray;
	height: 100%;
	.title {
		font-weight: 100;
		border-bottom: 1px solid $darkgray;
		text-align: center;
	}
	.form {
		background: $white;
		.form-group {
			margin: 20px;
			width: 100%;
			&.btn {
				margin-right: 70px;
			}
		}
	}
	a {
		width: 70%;
        padding: 25px 70px;
        border-radius: 7px;
        margin-top: 30px;
        opacity: 0.9;
        text-align: center;
        color: $darkgray;
        text-decoration: none;
        font-size: 12px;
        &:hover {
        text-decoration: underline;
        }
	}
}


@include breakpoint(xs){
	.register {
	 	.title {
			font-size: 1em;
			padding: 15px;
			width: 85%;
		}
		.form {
			width: 85%;
			padding: 10px
		}
		a {
			padding: 5px;
			font-size: 0.6em;
			text-decoration: underline;
		}
 	}
}

@include breakpoint(sm){
 	
}

@include breakpoint(md){
 	
}

@include breakpoint(xl){
  
}

@include breakpoint(xxl){
  
}